{% extends 'administracion/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <h3>Listado de médicos con especialidad en COSA</h3>
</div>
<div class="row">
    <div class="card" style="width: 16rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Dr. Nombre Apellidos</h5>
            <p class="card-text">Médico COSA</p>
            <a href="#" class="btn btn-primary">Solicitar hora</a>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Dr. Nombre Apellidos</h5>
            <p class="card-text">Médico COSA</p>
            <a href="#" class="btn btn-primary">Solicitar hora</a>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Dr. Nombre Apellidos</h5>
            <p class="card-text">Médico COSA</p>
            <a href="#" class="btn btn-primary">Solicitar hora</a>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Dr. Nombre Apellidos</h5>
            <p class="card-text">Médico COSA</p>
            <a href="#" class="btn btn-primary">Solicitar hora</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="card" style="width: 16rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Dr. Nombre Apellidos</h5>
            <p class="card-text">Médico COSA</p>
            <a href="#" class="btn btn-primary">Solicitar hora</a>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Dr. Nombre Apellidos</h5>
            <p class="card-text">Médico COSA</p>
            <a href="#" class="btn btn-primary">Solicitar hora</a>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Dr. Nombre Apellidos</h5>
            <p class="card-text">Médico COSA</p>
            <a href="#" class="btn btn-primary">Solicitar hora</a>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Dr. Nombre Apellidos</h5>
            <p class="card-text">Médico COSA</p>
            <a href="#" class="btn btn-primary">Solicitar hora</a>
        </div>
    </div>
</div>
{% endblock %}

{% block titulo %}
    Mi Clinica - Profesionales
{% endblock %}

{% block carga_css %}
    <link rel="stylesheet" href="{% static 'css/medicos.css' %}">
{% endblock %}